<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Dream come through</ion-card-subtitle>
      <ion-card-title>Die Bäckerei</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <form #f="ngForm" (ngSubmit)="loginHandler(f)">
        <ion-item>
          <ion-label position="floating">E-Mail</ion-label>
          <ion-input
            name="email"
            type="email"
            [(ngModel)]="email"
            required
            email
            #emailValidator="ngModel"
          ></ion-input>
          <small *ngIf="!emailValidator.valid && emailValidator.touched"
            >Email should be valid.</small
          >
        </ion-item>

        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input
            type="password"
            ngModel
            name="password"
            required
            minlength="6"
            #passwordValidator="ngModel"
          ></ion-input>
          <small *ngIf="!passwordValidator.valid && passwordValidator.touched"
            >Password should be min 6 characters.</small
          >
        </ion-item>

        <ion-button [disabled]="!f.valid" type="submit" expand="full"
          >Login</ion-button
        >
      </form>

      <ion-item>
        <small>Have you not an account ?</small>
        <ion-button
          type="button"
          routerLink="/auth/signup"
          size="small"
          color="success"
          fill="clear"
        >
          Sign up
        </ion-button>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
