<ion-header>
  <ion-toolbar>
    <ion-title>Edit Recipe</ion-title>
    <ion-buttons slot="primary">
      <ion-button fill="clear" (click)="closeEditRecipe()">
        <ion-icon
          slot="end"
          name="close"
          color="default"
          size="large"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form" *ngIf="!isLoading">
    <ion-grid fixed>
      <ion-row>
        <ion-col size-sm="12" offsetSm="12">
          <ion-item>
            <ion-label position="floating">Title</ion-label>
            <ion-input
              type="text"
              autocomplete
              autocorrect
              formControlName="title"
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="12" offsetSm="12">
          <ion-item>
            <ion-label position="floating">Image Url</ion-label>
            <ion-input type="text" formControlName="imageUrl"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="12" offsetSm="12">
          <ion-item>
            <ion-label position="floating">Ingredients</ion-label>
            <ion-textarea rows="3" formControlName="ingredients"></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="12" offsetSm="12">
          <ion-item>
            <ion-label position="floating">Praparation</ion-label>
            <ion-textarea rows="3" formControlName="preparation"></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="12" offsetSm="12">
          <ion-button
            (click)="onUpdateRecipe()"
            [disabled]="!form?.valid"
            type="submit"
            expand="full"
            color="primary"
            >Save</ion-button
          >
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
